.my_nav_bar{
    top: 0;
    position: sticky;
    z-index: 99999;
}

marqueestyle{
    
    width: 60%;
    height: 100px; 
    font-size: 23px;
}
body{
    
    color: orange;
    background-color: lightblue;
    align-content: flex-start;
}

schoolimg{
    
    height: 500px;
    width: 100%;
}
